body {
  font-family: 'SF Pro', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.container {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 420px;
  box-sizing: border-box;
}

input, select, textarea {
  width: 100%;
  padding: 14px;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  box-sizing: border-box;
}

textarea {
  height: 45px; /* reduzido */
  resize: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #449944;
}
